*{
margin: 0;
font-family: 'Work Sans', sans-serif;
}

html {
    height: 100%;
}

.btn-primary {
border: 0;
border-radius: 5px;
background-color: #FFF;
height: 64px;
font-size: 20px;
font-weight: 600;
color: #005FAC;
padding: 0 25px;
}

.sections-width {
    max-width: 1140px;
    margin: 0 auto;
}

.tick-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
/* Header Section ----------------------- */

header.header {
    background: url(images/banner/banner3.png);
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: right;
}

.banner {
    display: inline-block;
    text-align: right;
    margin-right: 230px;
}

.banner h2 {
    font-size: 65px;
    color: #FFF;
    width: 525px;
    margin-bottom: 25px;
}

.banner p {
    font-size: 16px;
    color: #FFF;
    width: 500px;
    margin-bottom: 30px;
    margin-left: 24px;
}


/* main section / failures of previous year -------------- */

.failures-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    margin-top: 140px;
    margin-bottom: 50px;
}

.failures-section .failures-img {
    width: 900px; 
     height: 600px;
    background: url(images/person-1.png) rgb(224, 222, 222) 50%  no-repeat;
    background-size: contain;
    border-radius: 527.929px;
    
}

.previous-year h2 {
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.previous-year .year-details {
    color: #444343;
    margin-bottom: 16px;
    line-height: 26px;
}

.previous-year .year-description {
    margin-bottom: 8px;
    color: #444343;
}

/* My plans section styles --------------------- */

.plans {
padding: 135px 0;
}

.my-plans {
    text-align: center;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}


.all-skills {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.skill {
    text-align: center;
}

.all-skills .skill img {
    width: 93px;
    margin-bottom: 25px;
}

.all-skills .skill h4 {
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}

.all-skills .skill p {
    font-size: 22px;
    color: #737272;
}







/* positive mindset section style -------------------- */

.positive-mindset {
    padding-bottom: 130px;
}
.positive-mindset .positive-contant {
    background: url(images/gradient1.png), url(images/watch.png) no-repeat;
    height: 300px;
    width: 100%;
    background-size: 100% 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.positive-mindset .positive-contant div{
margin: 60px;  
}


.positive-mindset .positive-contant h1{
  font-size: 40px;
  color: #FFF;
margin-bottom: 24px;
}



/* additional section - get started -------------- */


.get-started {
    background-color: #333332;
}
.get-started-contant {
    display: flex;
    justify-content: space-between;
    padding: 115px 0;
    align-items: center;
}
.get-started-contant div h1 {
    font-size: 45px;
    color: #FFF;
    /* margin-bottom: 25px; */
}
.get-started-contant div h4 {
    font-size: 24px;
    color: #FFF;
    margin-bottom: 25px;
}


/* Footer Section =---------------------------------- */


.footer {
    background-color: #151414;
}

.footer-contant {
    display: flex;
    justify-content: space-between;
}

.footer-contant div {
    margin: 130px;
}
.footer-contant div h1 {
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.footer-contant div .footer-description {
    color: #FFF;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 25px;
}
.footer-contant div p {
    color: #FFF;
    font-weight: 400;
    margin-bottom: 16px;
}
.footer-contant div img {
    margin-top: 30px;
    margin-right: 15px;
}


.Subscribe h2{
    font-size: 25px;
    font-weight: 600;
    color: #FFF ;
    margin-bottom: 30px;
}

.Subscribe input{
    font-size: 18px;
    font-weight: 400;
    color: #FFF ;
    margin-bottom: 16px;
    padding: 20px;
    background-color: #151414;
    border: 2px solid white;
    border-radius: 5px;
}

.Subscribe button {
    color: #fff;
    background-color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 30px;
}